AFFIRM:

  API_URL: https://sandbox.affirm.com/api/v2

  TRANSACTIONS_API_URL: https://sandbox.affirm.com/api/v1

  FUNCTIONAL_TESTS_URL: https://sandbox.affirm.com/functional_tests

  AFFIRM_JS_URL: https://cdn1-sandbox.affirm.com/js/v2/affirm.js

  # Set the public API key from Affirm
  PUBLIC_API_KEY:

  # Set the secret API key from Affirm
  SECRET_API_KEY:

  # If you have multiple merchants, set the public and secret API keys here.
  # The first merchant will be selected by default.
  # If you set MERCHANTS you don't need to set PUBLIC_API_KEY or SECRET_API_KEY.
  MERCHANTS:
    - PUBLIC_API_KEY:
      SECRET_API_KEY:
      LABEL: merchant description
    - PUBLIC_API_KEY:
      SECRET_API_KEY:
      LABEL: merchant description 2
    - PUBLIC_API_KEY:
      SECRET_API_KEY:
      LABEL: merchant description 3

# Whether or not to inject the checkout amendment url into the Affirm checkout object.
# If True, it is required that sandbox.affirm.com can reach your server in
# order for checkout to function.
# ADVANCED: You can set this value to False if you are developing on a machine
#           that is not externally visible, but you won't receive any
#           notifications from Affirm
INJECT_CHECKOUT_AMENDMENT_URL: false

DEFAULT_CURRENCY: USD

USE_HTTPS: false
# The server name is only necessary when using https
SERVER_NAME: null
