AFFIRM:

  API_URL: https://sandbox.affirm.com/api/v2

  AFFIRM_JS_URL: https://sandbox.affirm.com/js/v2/affirm.js

  # Set the public API key from Affirm
  PUBLIC_API_KEY:

  # Set the secret API key from Affirm
  SECRET_API_KEY:


# Whether or not to inject the checkout amendment url into the Affirm checkout object.
# If True, it is required that sandbox.affirm.com can reach your server in
# order for checkout to function.
# ADVANCED: You can set this value to False if you are developing on a machine
#           that is not externally visible, but you won't receive any
#           notifications from Affirm
INJECT_CHECKOUT_AMENDMENT_URL: false

