<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

        <link rel="stylesheet" href="static/css/normalize.css">
        <link rel="stylesheet" href="static/css/main.css">

        <!--[if lt IE 9]>
            <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
            <script>window.html5 || document.write('<script src="static/js/vendor/html5shiv.js"><\/script>')</script>
        <![endif]-->
    </head>
    <script>
      var affirm_js_url = "{{config.AFFIRM.AFFIRM_JS_URL}}";
      var affirm=window.affirm||{};
      (function(d,e,a,l){var b,c,f,g=document.createElement(a),h=document.getElementsByTagName(a)[0],k=function(a){return function(){d[e]._.push([a,arguments])}};d[e]=k("set");c=d[e];c._=[];a=0;
      for(b="set add save post open empty reset on off trigger ready".split(" ");a<b.length;a++)c[b[a]]=k(b[a]);a=0;for(b=["get","token","url","items"];a<b.length;a++)f=b[a],c[f]=function(){try{console.warn("affirm.checkout."+f+"() called before Affirm Checkout initialized")}catch(a){}};
      g.async=!0;g.src=l;h.parentNode.insertBefore(g,h)})(affirm,"checkout","script",affirm_js_url);
    </script>
    <style type="text/css" media="screen">
        body {
            margin: 1em;
        } 

        .container {
            width: 372px;
            text-align: center;
            margin: 0 auto;
            margin-bottom: 1em;
            margin-top: 2em;
        }

        .container .label {
            margin-top: .5em;
        }

        .price {
            font-weight: bold;
        }
    </style>
    <body>
        <!--[if lt IE 7]>
            <p class="chromeframe">
            You are using an <strong>outdated</strong> browser.
             Please <a href="http://browsehappy.com/">upgrade your browser</a> or
              <a href="http://www.google.com/chromeframe/?redirect=true">activatei
               Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->

        <div class="container">
            <img src="{{item_image_url}}" width="300"/>
            <div class="label">
                {{display_name}} <br>
                <span class="price">${{ unit_price_dollars }}</span>
            </div>
            <div>
                <div id="affirm_button"></div>
            </div>
        </div>

    <script type="application/javascript">
        affirm.checkout({{ affirm_checkout | tojson | safe }});
    </script>
    </body>
</html>
