{}<!DOCTYPE html>
<html>
<head>
    <title>User Confirm</title>
</head>
<body style="font-family: monospace">

Affirm charge ID: <b>{{ charge_id }}</b>

<br>
<br>

<div>
    <table>
        <tr>
            <td>read</td>
            <td><a href="{{ read_url }}" target="_blank">/api/v2/charges/{{ charge_id }}</a></td>
        </tr>
        <tr>
            <td>capture</td>
            <td><a href="{{ capture_url }}" target="_blank">/functional_tests/originate/{{ charge_id }}</a></td>
        </tr>
        <tr>
            <td>refund</td>
            <td><a href="{{ refund_url }}" target="_blank">/api/v2/charges/{{ charge_id }}/refund</a></td>
        </tr>
        <tr>
            <td>void</td>
            <td><a href="{{ void_url }}" target="_blank">/api/v2/charges/{{ charge_id }}/void</a></td>
        </tr>
        <tr>
            <td>merchant capture</td>
            <td><a href="{{ merchant_capture_url }}" target="_blank">/api/v2/charges/{{ charge_id }}/capture</a></td>
        </tr>
    </table>
</div>

</body>
</html>
