<!DOCTYPE html>
<html>
<head>
    <title>User Confirm</title>
</head>
<body>

Affirm charge ID is: {{ charge_id }}

<br>
<br>

<div sytle="font-family: fixed-width">
    <table>
        <tr>
            <td>Read Charge</td>
            <td><a href="{{ read_url }}" target="_blank">GET /api/v2/charges/{{ charge_id }}</a></td>
        </tr>
        <tr>
            <td>Capture Charge</td>
            <td><a href="{{ capture_url }}" target="_blank">POST /api/v2/charges/{{ charge_id }}/capture</a></td>
        </tr>
        <tr>
            <td>Refund Charge</td>
            <td><a href="{{ refund_url }}" target="_blank">POST /api/v2/charges/{{ charge_id }}/refund</a></td>
        </tr>
        <tr>
            <td>Void Charge</td>
            <td><a href="{{ void_url }}" target="_blank">POST /api/v2/charges/{{ charge_id }}/void</a></td>
        </tr>
    </table>
</div>

</body>
</html>